<!DOCTYPE html>
<html>
  <body>
    <h1>Order Submission</h1>
    <p>Thank you for your order. Your order details:</p>
	<b>Date:</b>  <%= @order.created_at.to_date %><br> 
	<b>From shop:</b>  <%= @order.business_name %><br> 
	<b>Order</b>  <%= @order.customer_order %><br><br> 
  </body>
</html>