<h1><strong>SOS</strong></h1>
<b>SOS sender details</b><br>
<b>Location: Karol Bagh Grand</b><br>
<b>Sender </b> <%= @user.username%><br>
<b>Phone number </b> <%= @user.contact_no%><br>
<b>Sender Email </b> <%= @user.email%>
