  <header>
  <div id="header-image-menu">
    <h2 id="image-text">Karol Bagh Grand</h2>
    <%= image_tag('KBGcover.png', alt: 'Image of Karol Bagh Grand', width: '1280', height: '600') %>
    <div class="round-frame">
      <%= image_tag('kbg-grand_icon.jpg', alt: 'Round Frame Image', width: '200', height: '200') %>
    </div>
  </div>
</header>


  <p class="beautiful-text">
  Karol Bagh Grand is one of the largest creations of apartments in M.P. by the K.B.G. Group.
  Having 900 apartments in various sizes, with beautiful British Elevation and gorgeous pillars,
  you would be mesmerized as you enter the British look main entrance.
  The township has a perfect layout and is supplemented with all luxury amenities along with a lifestyle Grand Club.
  Exotic and colorful Library, mind relaxing Yoga and Aerobics Hall with beautiful Interior and Soothing Music,
  Mind-blowing Guest Room with complete facilities, Gorgeous Multi Faith Temple,
  Exclusive Party Lawn supplemented with Stage and Gazebos are a few added features of Karol Bagh Grand, along with other common facilities.
  A Grand Club House inside the township with 24 seater Home Theater,
  25m Swimming Pool and Kids Pool, Grand Gymnasium,
  Table Tennis & Carom & Chess Room and many more unexpected facilities are attractive features of this township.
  Vatican City-like dome on the Club House brings added beauty to the whole township.
  In short, the township is so attractive that no one would go without pleasing a word for it.
  </p>