
<h2>Suggestions</h2>
  
  <table class="broadcasts-table">
    <tr>
      <th>User name</th>
      <th>Suggestion</th>
      <th>Date</th>
      <th>Time</th>
    </tr>

    <% @suggestions.each do |suggestion| %>
    <tr>
    <td><%= suggestion.user.username %></td>
      <td><%= suggestion.suggestion_body %></td>
      <td><%= suggestion.created_at.to_date %></td>
      <td><%= suggestion.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %></td>
    </tr>
    <% end %>
  </table>

